:root {
    --color-brand: #733729;
    --color-contrast: #D9BBA0;
}
body {
    background-image: url("img/pawns.jpg");
    background-color: #cccccc;
}

.btn-contactar {
    background-color: var(--color-contrast);
    color: var(--color-brand);
    font-weight: 700;
}
